/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  background-color: rgb(191, 201, 232);
  height: 100%;
}
